body {
    background-color: #1c1c1c;
}

header{
    background-color: #000000;
}

.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

li{
    display: inline-flex;
    padding: 20px;
    margin-left: 20px;
}   

a {
    color: #FFFFFF;
} 

h1 {
     font-size: 36px;
     font-weight: bold;
     color: #FFD700;
 }

button{
    background-color: #000000;
    color: #FFD700;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}

div.scrollmenu {    
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu a {
    display: inline-block; 
    padding: 14px;
}

.tamanho {
    width: 150px;
    height: 250px;
    border-radius: 6px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
}

footer{
    background-color: #000000;
}

.call{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemList{
    color: #FFFFFF;
}   

.itemList:hover{
    text-decoration: underline;
    cursor: pointer;
}

.socialmidia {
    display: flex;
    justify-content: center;
    
}

.midia {
    height: 15px;
}

.midia :hover{
    cursor: pointer;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
}
@media (max-width:425px) {
    header{
        position: absolute;
        bottom: 48px;
        left: 50px;
        transform: translateX(50%);
    }
    .container{
        align-items: center;
        text-align: center;
     }

    main{
        align-items: center;
    }

}