.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

li{
    display: inline-flex;
    padding: 20px;
    margin-left: 20px;
}

nav {
    background-color: #000000;
 }

a {
    color: #FFFFFF;
} 

h1 {
     font-size: 36px;
     font-weight: bold;
     color: #FFD700;
 }

main {
    background-color: #000000;
    height: 100%;
    justify-content: space-around;
}

.tamanho {
    width: 150px;
    height: 250px;
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
}

footer{
    left: 0;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
}

p {
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    margin-right: 30px;
}

.midia {
    height: 25px;
}

.alinhamento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin-left: 40%;
}   

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}